<!DOCTYPE html>
<html>
<div class="card" id="mes-projets" data-title="Mes Projets">
    <div class="mini-card-container">
        <a class="mini-card card-3D" 
        id="img-piwigo"
        href="https://fr.piwigo.org/">
            <div>
                <h2>Piwigo</h2>
                <p>Aide à la sortie de la version 2.11 de Piwigo (CMS en PHP)</p>
            </div>
        </a>
        <a class="mini-card card-3D"
            id="img-jv"
            href="https://zaclamenace.itch.io/">
            <div>
                <h2>Jeux vidéos</h2>
                <p>Participation à la Ludum Dare 2020 (Level2) et création du party game (RoundFoot) sur Godot</p>
            </div>
        </a>
        <a class="mini-card card-3D"
            id="img-na"
            href="https://nantarena.net">
            <div>
                <h2>Site Nantarena</h2>
                <p>Participation au site de la Nantarena (association étudiante pour faire une LAN payante)</p>
            </div>
        </a>
        <a class="mini-card card-3D" 
            id="img-site"
            href="https://nantarena.net">
            <div>
                <h2>Ce site</h2>
                <p>J'ai designé puis implémenté ce site avec NodeJs, express et le template engine Ejs. Il a été créé sans librairie CSS.</p>
            </div>
        </a>
    </div>
</div>

</html>