<!DOCTYPE html>
<html>
<div class="card" id="mes-competences" data-title="Mes Compétences">
    <div class="card-grid">
        <div>
            <h2>Web</h2>
            <p>Front end: HTML, CSS, JavaScript</p>
            <p>Back end: PHP, Javascript (Node, Express, Vue...)</p>
            <p>Base de donnée: SQL, mySQL, Oracle</p>
            <p>Design</p>
        </div>
        <div>
            <h2>Application</h2>
            <p>Application de bureau et mobile : Java, C, Javascript (avec Electron)</p>
        </div>
        <div>
            <h2>Système d'exploitation</h2>
            <p>Linux: bash, programmation en C</p>
            <p>Windows</p>
        </div>
        <div>
            <h2>Réseau</h2>
            <p>Gestion de réseau sur Unix: IPv4/v6, Routage, Proxy et Socket</p>
        </div>
        <div>
            <h2>Gestion des entreprises</h2>
            <p>Comptabilité, management d'équipe, notions de marketing</p>
        </div>
        <div>
            <h2>Social</h2>
            <p>Maitrise de l'Anglais (correspondant et voyage en Angleterre en 2017)</p>
            <p>Bon sens de la communication</p>
        </div>
    </div>
</div>

</html>