<!DOCTYPE html>
<html>
<div class="menu">
    <div class="expand-menu">
        <img src="../ressources/menu.png">
    </div>
    <div class="menu-card-list">

    </div>
    <div class="template-menu-card-item">
        <div class="menu-card-link"></div>
        <div class="menu-card-title"></div>
    </div>
</div>
</html>