<!DOCTYPE html>
<html>
<div class="menu">
    <div class="expand-menu action-expand">
        <img src="../ressources/menu.png">
    </div>
    <div class="menu-card-list">

    </div>
    <div class="template-menu-card-item">
        <div class="menu-card-link"></div>
        <div class="menu-card-title"></div>
    </div>

    <div class="menu-link">
        <a class="contact">
            <img src="../ressources/Contact.png">
            <p>Contact</p>
        </a>
        <a href="https://www.linkedin.com/in/zacharie-guet-46a314183/">
            <img src="../ressources/Linkedin.png">
            <p>Linkedin</p>
        </a>
        <a href="https://github.com/Zacharieg">
            <img src="../ressources/GitHub.png">
            <p>GitHub</p>
        </a>
    </div>
</div>

<div class="popin-contact-back">
    <div class="popin-contact">
        <h2>Contactez Moi !</h2>
        <div class="info">
            <img src="../ressources/Contact.png">
            <p>guetzac@gmail.com</p>
            <span>Copié dans le presse papier</span>
        </div>
        <div class="info">
            <img src="../ressources/Telephone.png">
            <p>06 20 02 17 24</p>
            <span>Copié dans le presse papier</span>
        </div>
        <img src="../ressources/cross.png" class="croix">
    </div>
</div>
</html>